<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log">
  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    <add assembly="ConsoleNLogAppInsightDemo.MyDotNetClassLibrary" />
  </extensions>
  <!--<time type="CustomTimeZone" zone="Central Standard Time" />-->
  <targets>
    <target name="logfile" xsi:type="File" fileName="nlogfile.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}: [LOCAL] ${level} - ${message}" />
    <target name="logconsole" xsi:type="Console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}: [LOCAL] ${level} - ${message}"/>
    <target name="aiTarget" xsi:type="ApplicationInsightsTarget"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss}: [LOCAL] - ${level} - ${message}${exception:format=ToString}">
      <instrumentationKey>YOUR_APP_INSIGHT_INSTRUMENTATION_KEY</instrumentationKey>
      <contextproperty name="threadid" layout="${threadid}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="aiTarget" />
  </rules>
</nlog>
